body {
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 16px;
  font-family: system-ui, -apple-system, sans-serif;
}

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
